body {
  background-color: #f4dbdb;
}

h1 {
  color: #081f5c;
  font-size: 50px;
  font-family: Facelio;
  margin: 50px;
  padding: 10px;
}

a {
  text-decoration: underline;
  color: #081f5c;
  font-size: 20px;
  font-weight: bold;
}

/* .link-container{
  text-align: center;
} */

a:hover {
  color: white;
  text-decoration: underline;
}

h2 {
  color: #081f5c;
  font-family: Facelio;
  font-size: 30px;
}

h3 {
  color: #081f5c;
  font-family: Facelio;
  font-size: 25px;
}

hr {
  margin: 10px;
  color: #081f5c;
}

footer {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

p {
  color: #081f5c;
  max-width: 64ch;
  font-family: TIMESS_;
  font-size: 20px;
  line-height: 1.5;
}

ul {
  font-family: TIMESS_;
  color: #081f5c;
  font-size: 20px;
}

/* hover effekt */
.image {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: block;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #081e5c4a;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.image-container:hover .image {
  transform: scale(1.1); /* Scale image on hover */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

@font-face {
  font-family: "Facelio";
  src: url("../fonts/Facelio.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TIMESS_";
  src: url("../fonts/TIMESS__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
